In [2]:
import pandas as pd
import glob

In [4]:
file_paths = glob.glob('aqidaily*.csv')

In [6]:
dfs = []

In [8]:
file_paths

['aqidaily2000.csv',
 'aqidaily2001.csv',
 'aqidaily2002.csv',
 'aqidaily2003.csv',
 'aqidaily2004.csv',
 'aqidaily2005.csv',
 'aqidaily2006.csv',
 'aqidaily2007.csv',
 'aqidaily2008.csv',
 'aqidaily2009.csv',
 'aqidaily2010.csv',
 'aqidaily2011.csv',
 'aqidaily2012.csv',
 'aqidaily2013.csv',
 'aqidaily2014.csv',
 'aqidaily2015.csv',
 'aqidaily2016.csv',
 'aqidaily2017.csv',
 'aqidaily2018.csv',
 'aqidaily2019.csv',
 'aqidaily2020.csv',
 'aqidaily2021.csv',
 'aqidaily2022.csv',
 'aqidaily2023.csv',
 'aqidaily2024.csv']

In [10]:
for file_path in file_paths:
    df = pd.read_csv(file_path)
    dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

In [12]:
combined_df.head()

,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,PM10,PM25,NO2
0,01/01/2000,116,PM2.5,PS 59,36-061-0056,AQS,27,25,31,116,38
1,01/02/2000,115,PM2.5,NaN,36-061-0010,AQS,36,38,.,115,54
2,01/03/2000,91,PM2.5,NaN,36-061-0010,AQS,38,31,.,91,46
3,01/04/2000,68,PM2.5,PS 59,36-061-0056,AQS,30,31,.,68,42
4,01/05/2000,43,PM2.5,NaN,36-061-0010,AQS,22,24,.,43,42

In [14]:
combined_df.tail()

,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,PM10,PM25,NO2
9127,12/27/2024,62,PM2.5,CCNY,36-061-0135,AirNow,7,7,NaN,62,NaN
9128,12/28/2024,63,PM2.5,CCNY,36-061-0135,AirNow,15,1,NaN,63,NaN
9129,12/29/2024,52,PM2.5,CCNY,36-061-0135,AirNow,13,32,NaN,52,NaN
9130,12/30/2024,36,PM2.5,Intermediate School 143,36-061-0115,AQS,3,29,NaN,36,NaN
9131,12/31/2024,42,PM2.5,Intermediate School 143,36-061-0115,AQS,3,21,NaN,42,NaN

In [16]:
combined_df.describe()

       Overall AQI Value
count        9132.000000
mean           53.302453
std            20.260473
min             2.000000
25%            40.000000
50%            52.000000
75%            62.000000
max           208.000000

In [22]:
combined_df.shape

(9132, 11)

In [24]:
weather = pd.read_csv('weather.csv')

In [26]:
weather.shape

(9132, 4)

In [28]:
weather.head()

         Date   avg_temp  avg_humidity  avg_wind_speed
0  2000-01-01  36.285862     94.413793        5.916207
1  2000-01-02  43.928077     89.846154        6.356154
2  2000-01-03  54.990714     86.607143        8.386786
3  2000-01-04  55.715556     92.148148       10.264074
4  2000-01-05  41.391923     66.961538       16.294231

In [32]:
combined_df.dtypes

Date                          datetime64[ns]
Overall AQI Value                      int64
Main Pollutant                        object
Site Name (of Overall AQI)            object
Site ID (of Overall AQI)              object
Source (of Overall AQI)               object
CO                                    object
Ozone                                 object
PM10                                  object
PM25                                  object
NO2                                   object
dtype: object

In [34]:
weather.dtypes

Date               object
avg_temp          float64
avg_humidity      float64
avg_wind_speed    float64
dtype: object

In [40]:
combined_df['Date'] = pd.to_datetime(combined_df['Date'], format='%Y-%m-%d')
weather['Date'] = pd.to_datetime(weather['Date'], format='%Y-%m-%d')

In [44]:
merged_df = pd.merge(combined_df, weather, on='Date')

In [9]:
combined_df.to_csv('aqi.csv', index=False)

In [46]:
merged_df.to_csv('aqi_exo.csv', index=False)

In [48]:
merged_df.head()

,Date,Overall AQI Value,Main Pollutant,Site Name (of Overall AQI),Site ID (of Overall AQI),Source (of Overall AQI),CO,Ozone,PM10,PM25,NO2,avg_temp,avg_humidity,avg_wind_speed
0,2000-01-01,116,PM2.5,PS 59,36-061-0056,AQS,27,25,31,116,38,36.285862,94.413793,5.916207
1,2000-01-02,115,PM2.5,NaN,36-061-0010,AQS,36,38,.,115,54,43.928077,89.846154,6.356154
2,2000-01-03,91,PM2.5,NaN,36-061-0010,AQS,38,31,.,91,46,54.990714,86.607143,8.386786
3,2000-01-04,68,PM2.5,PS 59,36-061-0056,AQS,30,31,.,68,42,55.715556,92.148148,10.264074
4,2000-01-05,43,PM2.5,NaN,36-061-0010,AQS,22,24,.,43,42,41.391923,66.961538,16.294231

In [50]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9132 entries, 0 to 9131
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        9132 non-null   datetime64[ns]
 1   Overall AQI Value           9132 non-null   int64
 2   Main Pollutant              9132 non-null   object
 3   Site Name (of Overall AQI)  8732 non-null   object
 4   Site ID (of Overall AQI)    9132 non-null   object
 5   Source (of Overall AQI)     9132 non-null   object
 6   CO                          9132 non-null   object
 7   Ozone                       7306 non-null   object
 8   PM10                        2922 non-null   object
 9   PM25                        9132 non-null   object
 10  NO2                         3288 non-null   object
 11  avg_temp                    9132 non-null   float64
 12  avg_humidity                9132 non-null   float64
 13  avg_wind_speed              9132 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(9)
memory usage: 998.9+ KB